
[Desktop Entry]
Name=swindle
Comment=Poor man's hyprland
Exec=/usr/local/bin/swindle
Type=Application
DesktopNames=swindle
Keywords=tiling;wayland;compositor;
